body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.linkText{  font-size: medium;
  color: #090924 !important;
  font-family: 'Roboto', sans-serif; 
}

footer {
    position: fixed;
    bottom: 0;
}
.Button {
  border: none;
  background-color: transparent;
  outline: none;
}